<div>
  <br>
  <p class="text-success">{{_titre}} | vous en avez : <span
    class="text-primary">{{_nbPok}}</span>
    <span *ngIf="_nbPok>0 && _monPokemon==null" class="text-primary">
    | cliquez sur l'image pour votre Pokemon préféré</span></p>
  <button (click)="ajouterPokemon();" class="btn btn-primary">+1</button>
  <span>{{" "}}</span>
  <button (click)="enleverPokemon();" class="btn btn-danger" *ngIf="_nbPok>0">-1</button>
  <span>{{" "}}</span>
  <button (click)="ajouterAllPokemon();" class="btn btn-primary">+ ALL</button>
  <span>{{" "}}</span>
  <button (click)="enleverAllPokemon();" class="btn btn-danger" *ngIf="_nbPok>0">RESET ALL
  </button>
  <span>{{" "}}</span>
  <p></p>
  <div>
    Votre Pokémon préféré : {{monService._textePokemonPrefered}}
    <br>
    <button (click)="enleverPokemonPrefered();" type="button" class="btn btn-info"
            *ngIf="monService._pokemon">Supprimer votre Pokémon Préféré
    </button>
  </div>
  <br>
  <div *ngIf="monService._pokemon">
    <!-- Affichage du composant unpokemon dans ici (PERE) | sinon poke (choix)="choice=$event" au besoin -->
    <app-unpokemon [element]=monService._pokemon></app-unpokemon>
  </div>
  <div class="p-3 mb-2 bg-primary text-white"><span *ngIf="_nbPok>0">Vos Pokémons</span></div>
  <!-- Vérification si le tableau de Pokemon existe -->
  <div *ngIf="_Pokemons">
    <!-- Parcours du tableau des Pokémons -->
    <ul *ngFor="let unPokemon of _Pokemons">
      <!-- Affichage du composant unpokemon dans ici (PERE) | sinon poke (choix)="choice=$event" au besoin -->
      <app-unpokemon style="float:left" [element]=unPokemon></app-unpokemon>
    </ul>
  </div>
</div>
